body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  canvas {
    border: 1px solid #000;
  }
  
  button {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .game-message {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  #gameOverMessage {
    color: #ff0000;
  }
  
  #youWinMessage {
    color: #008000;
  }
  
